<!DOCTYPE html>
<html>
  <head>
    <title>BrokenRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <div class="navbar-fixed">
        <nav class="black darken-2">
          <div class="nav-wrapper">
            <div class="container">
            <%= link_to "Forum", root_path, class: "brand-logo" %>
            <ul class="right hide-on-med-and-down">
              <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <%= link_to "Login",  new_user_session_path %>
              <%= link_to "Signup", new_user_registration_path %>
              <% end %>
            </ul>
          </div>
          </div>
        </nav>
      </div>

    <div class="container">
      <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>


    <%= yield %>
      
      
    </div>
  </body>
</html>
